.container{
    min-height: 98vmax; 
}

#left_column, #right_column{
    height: 100%;
}

// #left_column{
//     border-style: solid;
//     border-color: yellow;
// }

#right_column{
    border-style: solid;
    border-color: blue;
}

#logo{
	width: 40%;
	height: 40%;
}

// #right_column{
//     border-style: solid;
//     border-color: blue;
// }