.mainarea {
	background: rgb(200,200,200);
	padding: 20px;
	h1 {
		color: #1977fc;
	}

	p {
		color: black;
	}
}

.footer {
	height: 190px;
}

#logo{
	width: 40%;
	height: 40%;
}

.image-box{
	overflow:hidden;
	width:18rem;
	height: 18rem;
}

#more-margin-1 {
	margin-bottom: 2px;
}